/* Loading Spinner */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: radial-gradient(circle, var(--first-color)0%, var(--background-color-6)100%);
    pointer-events: none;
    opacity: 1;    
    animation: displayfade 500ms 2s forwards;
}
@keyframes displayfade {
  to {
    opacity: 0;
    z-index:-1;
  }
}
.display-fade {
	animation: displayfade 2s;
  opacity: 0;z-index:-1;        
}
#loader { 
  position: relative;
  left: 50%;
  top: 50%;
  width:200px;
  height:200px;
  margin:-100px 0 0 -100px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--eighth-color);
  -webkit-animation: spinner 0.5s linear 5;
  animation: spinner 0.5s linear 5;/* animation: [animation-name] [animation-duration] [animation-timing-function] [animation-iteration-count]; */ 
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--second-color);
  -webkit-animation: spinner 0.75s linear 3;
  animation: spinner 0.75s linear 3;
} 
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--third-color);
  -webkit-animation: spinner 1.25s linear 2;     
  animation: spinner 1.25s linear 2;
}
@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      z-index:15; 
    }
    100% 
    {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      z-index:15;       
    }
}
@keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      z-index:15; 
    }
    100% {
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      z-index:15;         
    }
}

/* Animation apparition progressive */
.animation.n1 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
}
  .animation.n2 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 0.2s;
}
  .animation.n3 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 0.4s;
  }
  .animation.n4 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 0.6s;
  }
  .animation.n5 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 0.8s;
  }
  .animation.n6 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1s;
  }
  .animation.n7 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.2s;
  }
  .animation.n8 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.4s;
  }
  .animation.n9 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.6s;
  }
  .animation.n10 {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards;
    animation-delay: 1.8s;
  }
  @-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  /* Animation selection plat */

  @keyframes tour {
    0% {
      transform: rotateZ(0deg)
    }
    100% {
      transform: rotateZ(360deg)
    }
  }




