.section2 {
    height: auto;
}
.menunav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu {
    width: 300px;
}
.iconemenu {
    padding-left: 15px;
    padding-right: 25px;
}
.section3 {
    height: auto;
}
.allcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.containercards {
    min-width: 700px;
}
.icon {
    transition-property: opacity;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.hearts:hover .icon {
    opacity: 0;
}
.hearts:hover .icon2 {
    opacity: 1;
    background: linear-gradient(360deg, var(--second-color), var(--first-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titlefooter {
    font-size: 25px;
}
.footerslink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pf {
    font-size: 18px;
}
.sectionmenu {
    height: auto;
    padding: 0 0 10px 0;
}
.containerlist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.listplates {
    min-width: 320px;
}
