:root {
    --first-color: #9356dc;
    --second-color: #ff79da;
    --third-color: #99e2d0;
    --fourth-color: #ffffff;
    --fifth-color: #000000;
    --sixsth-color: #7e7e7e;
    --seventh-color: #008766;
    --eighth-color: #bc94eb;
    --background-color-1: #eee;
    --background-color-2: #f7f7f7;
    --background-color-3: #f5edff;
    --background-color-4: #eaeaea;
    --background-color-5: #f6f6f6;
    --background-color-6: #353535;
    --background-color-7: #99e2d0;
    --boxshadow-color-1: #d8d8d8;
    --boxshadow-color-2: #bfbfbf;
    --boxshadow-color-3: #e9e9e9;
    --boxshadow-color-4: #bda1a1;
}