/* Définition des polices personnalisées */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/* Eléments principaux de la page */
:root {
    --first-color: #9356dc;
    --second-color: #ff79da;
    --third-color: #99e2d0;
    --fourth-color: #eaeaea;
}
body {
    margin: 0px;
    font-family: Roboto, Shrikhand , sans-serif;
}
a {
    text-decoration: none; color: black;
}
/* Header */
.imagelogo{
    display: flex;
    justify-content: center;
}
.logo {
    width: 180px;
    padding: 15px;
}
.formulaire {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--fourth-color), #eee);
    height: 50px;
    box-shadow: inset 0px 2px 3px 0px #d8d8d8;
    padding: 0px 35px 0 40px;
}
.iconemap{
    padding: 15px 0 0 50px;
}
.box {
    font-weight: bolder;
    padding: 15px 0 0 50px;
    border: none;
    background-color: transparent;
    padding: 15px 0 15px 20px;
    font-size: 15px;
}
/* Header Menu*/
.headerstyle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionarrow {
    position: absolute;
    left: 1px;
    margin-left: -20px;
}
.arrow {
    font-size: 20px;
    padding: 0 0 0 30px;
}
/* Section 1 */
.section1 {
    text-align: center;
    background: linear-gradient(0deg, #f7f7f7, transparent);
    height: 260px;
}
h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 50px 0 50px;
    margin-bottom: 0px;
}
.subtitle {
    font-family: Roboto;
    font-size: 17px;
    text-align: center;
    font-weight: 300;
    padding: 14px 30px;
    margin: 0px 0px 30px 0px;
}
.searchrestaurants {
    padding: 15px;
    background: linear-gradient(168deg, var(--second-color), var(--first-color));
    border-radius: 25px;
    box-shadow: 4px 4px 12px #bfbfbf;
    font-family: Roboto;
    color: white;
} 
/* Section 2 */
.section2 {
    text-align: center;
    margin: 50px 0 0 10px;
    height: 380px;
}
.titlemenu {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 10px 10px;
}
.menunav{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #f7f7f7, transparent);
    border-radius: 20px;
    box-shadow: 0px 7px 12px 0px #eaeaea;
    min-height: 72px;
    margin: 0 18px 0 25px;
    cursor: pointer;
}
.menunav :hover *:not(p, span) {
    color: var(--first-color);
}
.menunav :hover {
    background-color: #f5edff;
}
span {
    position: relative;
    left: -15px;
    background-color: var(--first-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.iconemenu{
    padding: 0 15px 0 0;
    color: #7e7e7e;
}
.textmenu {
    font-weight: bolder;
}
/* Section 3 */
.section3 {
    background-color: #f7f7f7;
    height: 1210px;
}
.title2 {
    padding: 55px 0 0 20px;
    font-weight: 800;
    font-size: 25px;
}
.containercards {
    background-color: white;
    border-radius: 25px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0px 15px 15px 15px;
    box-shadow: 6px 6px 4px #e9e9e9;
}
.card {
    width: 100%;
    height: 250px;
    position: relative;
}
.newbox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 30px;
    background-color: var(--third-color);
    color: #008766;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photocard {
    width: 100%;
    height: 175px;
    border-radius: 19px 19px 0 0;
    object-fit: cover;
}
.titlecard {
    margin: 3px 0 3px 15px;
}
.pcard {
    margin: 0 0 0 15px;
}
.iconeposition {
    position: absolute;
    right: 10px;
    bottom: 40px;
}
.heart {
    font-size: 20px;
}
/* Section Menu */
.containerimage {
    width: 100%;
    height: 175px;
}
.image {
    width: 100%;
    height: 175px;
    object-fit: cover;
}
.sectionmenu {
    background-color: #f6f6f6;
    width: 100%;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-top: -30px;
    height: 980px;
}
.containertitle {
    display: flex;
    align-items: baseline;
}
.menutitle {
    font-family: 'Shrikhand';
    font-size: 24px;
    font-weight: 400;
    padding-left: 20px;
}
.hearttitle {
    font-size: 24px;
}
.containermenu {
    padding: 0 10px;
}
.titleplates {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.linegreen {
    background-color: var(--third-color);
    height: 4px;
    width: 40px;
    margin-bottom: 20px;
}
.listplates {
    background-color: white;
    border-radius: 20px;
    height:60px;
    margin: 0 0 10px 0;
    box-shadow: 0px 4px 4px 0px #efefef;
}
.items1 {
    margin: 0;
    padding: 10px 0 0 10px;
}
.prix {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.items2 {
    margin: 0;
    font-size: 14px;
}
.items3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}
.bcommander {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.commander {
    padding: 10px 40px;
    background: linear-gradient(168deg, var(--second-color), var(--first-color));
    border-radius: 25px;
    box-shadow: 4px 4px 12px #bfbfbf;
    color: white;
}
/* Footer */
footer {
    background-color: #353535;
    height: 150px;
    padding: 25px;
}
.titlefooter {
    color: white;
    font-family: 'Shrikhand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.stylelink{
    display: flex;
    align-items: baseline;
    color: white;
    font-size: 15px;
    font-weight: 400;
    gap: 10px;
}
.stylep1 {
    margin: 0;
    padding: 10px 0 0 7px;
}
.stylep {
    margin: 0;
    padding: 10px 0 0 0;
}